<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Harry Potter Front Page</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/nav.css" />
</head>
<body>
  <% include partials/nav.ejs %>
  <div class="wrapper">
    <h1>WELCOME TO THE HARRY POTTER WEBSITE OF FOUR PARAGRAPHS</h1>
    <ul class="list">
      <li class="listImages">
        <a href="/documents/1">
          <img src="/assets/1.jpg" alt="Gryffindor emblem">
          <p>Paragraph 1</p>
        </a>
      </li>
      <li class="listImages">
        <a href="/documents/2">
          <img src="/assets/2.jpg" alt="Slytherin emblem">
          <p>Paragraph 2</p>
        </a>
      </li>
      <li class="listImages">
        <a href="/documents/3">
          <img src="/assets/3.jpg" alt="Hufflepuff emblem">
          <p>Paragraph 3</p>
        </a>
      </li>
      <li class="listImages">
        <a href="/documents/4">
          <img src="/assets/4.jpg" alt="Ravenclaw emblem">
          <p>Paragraph 4</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>